* {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
.about-us{
    background-color: whitesmoke;
}

.heading-about h1{
    color: #20456f;
    font-size: 2rem;
    text-align: center;
    margin-top: 35px;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 65px auto;
}

.about-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}

.about-content h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #20456f;
}

.about-content p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 40px;
}

.about-button {
    display: inline-block;
    background-color: #20456f;
    color: whitesmoke;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

.about-button:hover {
    background-color: cornflowerblue;
    transform: scale(1.1);
}

.about-image {
    flex: 1;
    width: 600px;
    margin: auto;
}

.about-img{
    width: 100%;
}